<form (ngSubmit)="onRegister()" [formGroup]="myForm">
  <input placeholder="Username" formControlName="username">
  <input placeholder="Password" formControlName="password">
  <button type="submit">Registrieren</button>
</form>

<hr>

<button (click)="showDialog = !showDialog" class="btn">Open</button>


<app-app-dialog [(visible)]="showDialog">
  <h1>Test</h1>
</app-app-dialog>


<form [formGroup]="form" (ngSubmit)="onSub()">

  <h1>Value : {{ form.get('button').value}}</h1>
  <h1>Touched : {{ form.get('button').touched}}</h1>
  <h1>Dirty : {{ form.get('button').dirty}}</h1>
  <h1>Error : {{ form.get('button').hasError('required')}}</h1>

<app-toggle-button [childButtons] = "statements" formControlName="button"></app-toggle-button>

</form>


<div *ngIf="profile">
  <div>
    {{profile.login}}
  </div>
  
  <img src="{{profile.avatar_url}}">

  <div>
    <h1>Repos</h1>
    <div *ngFor="let repo of repos">
      <p>
        name: {{repo.name}},
        <a href="{{repo.html_url}}" target="_blank">View</a>
      </p>
    </div>
  </div>
</div>

<button (click)="open()">Öffne Dialog</button>

<dialog *ngIf="test === true">Inhalt überarbeiten</dialog>
